h1{
  font-weight: bold;
  background-color: #42A5F5;
  color: black;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  font-size: 1.5em;
  margin:0%;
  text-shadow: none;
}

#map-canvas, #dataGamma, #dataBeta, p{
  margin: 0px;
  padding: 0px;
}
#map-canvas{
  position: absolute;
  text-align: center;
  top: 14%;
  right: 30%;
  width: 65%;
  height: 60%;
  border: 1px solid black;

}
#dataGamma{
	position: absolute;
  text-align: center;
  top: 14%;
  right: 5%;
  width: 20vw;
  height: 20vw;
  border: 1px solid black;
  border-radius: 10vw;
  transform: rotate(0deg);
/*    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);*/
}
#dataBeta{
  position: absolute;
  text-align: center;
  bottom: 15%;
  right: 5%;
  width: 20vw;
  height: 20vw;
  border: 1px solid black;
  border-radius: 10vw;
  transform: rotate(0deg);
/*    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);*/
}
#speed{
  position: absolute;
  top:80%;
  left: 5%;
  width: 15%;

}

#altitude{
  position: absolute;
  top:80%;
  left: 30%;


}
#direction{
  position: absolute;
  top: 80%;
  left: 60%;


}
#header-div{
  padding: 0%;
  margin: 0%;
  
}
#body-div{
   
  background-size: 100%;
  opacity: 50%;
  background-repeat: no-repeat;
  padding: 0%;
  margin: 0%;
  height:100vh;
  }

  #homeHeader{
  top:0%;
  left: 0%;
  position: absolute;
  width: 100%;
  text-align: center;
}